@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: hsl(0, 0%, 100%);
  /* width: 330px; */
  width: 20.8rem;
  /* height: 510px; */
  height: 31.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.card > img {
  border-radius: 10px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text > h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 23px;
  width: 250px;
  text-align: center;
  color: hsl(218, 44%, 22%);
  padding: 20px 0px;
}

.text > p {
  font-family: "Outfit", sans-serif;
  width: 250px;
  font-size: 15px;
  text-align: center;
  color: hsl(220, 15%, 55%);
  margin-bottom: 20px;
}

footer {
  margin-bottom: 20px;
}
